<div class="card" style="width: 18rem;">
  <img [src]="photoElement.thumbnailUrl" class="card-img-top" alt="card image" />
  <div class="card-body">
    <p class="card-text">{{ photoElement.title }}</p>
  </div>
</div>
